<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="l-content">
	<section class="c-slide">
        <div class="c-slide__image">
            <img src="../assets/img/slide.jpg" alt="">
        </div>
        <div class="c-slide__info">
            <h2>
                <img src="../assets/img/slide-title1.png" alt="">
            </h2>
            <h1><img src="../assets/img/slide-title2.png" alt=""></h1>
            <div class="c-slide__text">
                <img src="../assets/img/slide-background-title3.png" alt="">
                <h3><img src="../assets/img/slide-title3.png" alt=""></h3>
            </div>
        </div>
    </section>
    <section class="c-banner">
        <div class="l-container">
            <div class="c-banner__left">
                <div class="c-banner__info">
                    <img src="../assets/img/banner_left.png" alt="">
                    <div class="c-banner__text">
                        <img src="../assets/img/banner_title1.png" alt="">
                        <img src="../assets/img/banner_title2.png" alt="">
                        <img src="../assets/img/banner_title3.png" alt="">
                    </div>
                </div>
                <div class="c-banner__content">
                    <nav>
                        <ul>
                            <li>数の概念を育てるのに効果的</li>
                            <li>声に出して指で動かすので腦が活発になる！</li>
                            <li>操作が楽しいので子どもの集中力が持続する！</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="c-banner__right">
                <div class="c-banner__info">
                    <img src="../assets/img/banner_right.jpg" alt="">
                    <div class="c-banner__text">
                        <img src="../assets/img/banner-right-title.png" alt="">
                        <img src="../assets/img/banner-right-content.png" alt="">
                    </div>
                </div>
                <div class="c-banner__content">
                    <p>高齢者用に新たに開発した大きめのそろばんを使いながら、<br>
                        またハンズオンの教材も加えて、明るく楽しく学んでいただける空間を<br>
                        ご提供しております。</p>
                </div>
            </div>
        </div>
    </section>
    <section class="c-popular">
        <div class="l-container">
            <div class="c-popular__title">
                <img src="../assets/img/popular-icon-title.png" alt="">
                <h3>人 気 商 品</h3>
            </div>
            <div class="c-list c-list--col4">
                <div class="c-list__card box-margin--left">
                    <div class="c-popular__image">
                        <img src="../assets/img/popular-image1.png" alt="">
                    </div>
                    <div class="c-popular__content">
                        <h3>スタンダード(23 桁)</h3>
                        <div class="c-popular__info">
                            <span class="text">価格</span>
                            <span class="price">：4,320 円</span>
                        </div>
                        <div class="c-popular__info1">
                            <span class="text1">商品番号</span>
                            <span class="price2">：43300</span>
                        </div>
                    </div>
                    <div class="c-popular__btn">
                        <div class="c-btn--wrapper">
                            <p class="btn-text1">詳細はこちら</p>
                            <img class="btn-direction" src="../assets/img/popular-btn.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-popular__image">
                        <img src="../assets/img/popular-image2.png" alt="">
                    </div>
                    <div class="c-popular__content">
                        <h3>「１００玉そろばん+ れん<br>
                            しゅうちょう」セット</h3>
                        <div class="c-popular__info">
                            <span class="text">価格</span>
                            <span class="price">：3,650 円</span>
                        </div>
                        <div class="c-popular__info1">
                            <span class="text1">商品番号</span>
                            <span class="price2">：3380</span>
                        </div>
                    </div>
                    <div class="c-popular__btn">
                        <div class="c-btn--wrapper">
                            <p class="btn-text1">詳細はこちら</p>
                            <img class="btn-direction" src="../assets/img/popular-btn.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-popular__image">
                        <img src="../assets/img/popular-image3.png" alt="">
                    </div>
                    <div class="c-popular__content">
                        <h3>こみこみセット（男用）<br>
                            セット（そろばん+ 教材）</h3>
                        <div class="c-popular__info">
                            <span class="text">価格</span>
                            <span class="price">：7,000 円</span>
                        </div>
                        <div class="c-popular__info1">
                            <span class="text1">商品番号</span>
                            <span class="price2">：3380</span>
                        </div>
                    </div>
                    <div class="c-popular__btn">
                        <div class="c-btn--wrapper">
                            <p class="btn-text1">詳細はこちら</p>
                            <img class="btn-direction" src="../assets/img/popular-btn.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="c-list__card box-margin--right">
                    <div class="c-popular__image">
                        <img src="../assets/img/popular-image4.png" alt="">
                    </div>
                    <div class="c-popular__content">
                        <h3>スタンダード(23 桁)</h3>
                        <div class="c-popular__info">
                            <span class="text">価格</span>
                            <span class="price">：1,404 円</span>
                        </div>
                        <div class="c-popular__info1">
                            <span class="text1">商品番号</span>
                            <span class="price2">：JAMAＲ</span>
                        </div>
                    </div>
                    <div class="c-popular__btn">
                        <div class="c-btn--wrapper">
                            <p class="btn-text1">詳細はこちら</p>
                            <img class="btn-direction" src="../assets/img/popular-btn.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-abacus">
        <div class="l-container">
            <h4 class="c-abacus__content">
                そろばんが日本に伝えられてから約450 年。時代とともに、トモエのそろばんは、<br>
                より使いやすく、さらに親しまれる製品をお届けしてまいりました。<br>
                トモエそろばんの卓越した技術が可能にした優れたそろばんは、世界各国で愛され続けています。
            </h4>
        </div>
    </section>
    <section class="c-news">
        <div class="l-container">
            <div class="c-news__title">
                <img src="../assets/img/new-icon.png" alt="そろばんニュース">
                <h3>そろばんニュース</h3>
            </div>
            <div class="c-news__content">
                <ul class="c-nav">
                    <li>
                        <span class="u-date">
                            <a href="">2019/06/03</a>
                        </span>
                        <span class="date-info">
                            「 ドルトンスクール東京にて１００玉そろばん授業がスタートしました！」
                        </span>
                    </li>
                    <li>
                        <span class="u-date">
                            <a href="">2019/05/09</a>
                        </span>
                        <span class="date-info">
                            玉川学園のそろばん授業
                        </span>
                    </li>
                    <li>
                        <span class="u-date">
                            <a href="">2019/04/23</a>
                        </span>
                        <span class="date-info">
                            認知症予防そろばん　講師認定講座参加者募集！
                        </span>
                    </li>

                    <li>
                        <span class="u-date">
                            <a href="">2019/03/11</a>
                        </span>
                        <span class="date-info">
                            100 玉そろばんの類似品・模倣品にご注意ください。
                        </span>
                    </li>
                    <li>
                        <span class="u-date">
                            <a href="">2019/01/29</a>
                        </span>
                        <span class="date-info">
                            ニッポン放送の「10 時のグッとストーリ」の取材
                        </span>
                    </li>
                </ul c>
            </div>
        </div>
    </section>
    <section class="c-brand">
        <div class="l-container">
            <div class="c-list c-list__card--col4">
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand1.png" alt="">
                        <div class="c-brand__info">
                            <h3><img src="../assets/img/brand1-title.png" alt=""></h3>
                            <p>
                                <span>即聴・即解</span>
                                <span>スーパーシャープブレイン</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand2.png" alt="">
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand3.png" alt="">
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand4.png" alt="">
                        <h4>“フラッシュ暗算”</h4>
                    </div>
                </div>
            </div>
            <div class="c-list c-list__card--col4 marginTop30">
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand5.png" alt="">
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand6.png" alt="">
                        <p class="text-sub">
                            <span>講</span>
                            <span>師</span>
                            <span>募</span>
                            <span>集</span>
                        </p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand7.png" alt="">
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-brand__image">
                        <img src="../assets/img/brand8.png" alt="">
                        <h4>“フラッシュ暗算”</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>

