/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.text{
    padding-right: 46px;
}

.text1{
    margin-right: 14px;
}
.text-sub{
    position: absolute;
    top: 33px;
    left: 66px;
    font-size: 2.4rem;
    color: #fff;
}