.l-content{
    .c-slide{
        position: relative;
        padding: 0;
        &__image{
            text-align: center;
        }
        &__info{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -33px;
            width: 655px;
            height: 213px;
            h2{
                margin-left: -148px;
            }
            h1{
                margin: 13px 0 0 -10px;
            }
        }
        &__text{
            position: relative;
            margin: 23px 0 0 -145px;
            h3{
                position: absolute;
                top: 8px;
                left: 26px;
            }
        }
    }
    .c-banner{
        .l-container{
            display: flex;
        }
        &__left{
            .c-banner__info{
                position: relative;
            }
            .c-banner__text{
                position: absolute;
                left: 0;
                top: 0;
                margin-left: 33px;
                img:nth-child(1){
                    display: block;
                    margin-top: 28px;
                    padding-left: 35px;
                }
                img:nth-child(2){
                    margin: 22px 0 16px 0;
                }
            }
        }
        &__right{
            margin-left: 43px;
            .c-banner__info{
                position: relative;
            }
            .c-banner__text{
                position: absolute;
                left: 0;
                top: 0;
                margin-left: 33px;
                img:nth-child(1){
                    margin: 30px 0 0 32px;
                }
                img:nth-child(2){
                    margin: 33px 0 0 29px;
                }
            }
            .c-banner__content{
                margin-top: 17px;
                margin-left: 9px;
                p{
                    font-size: 1.6rem;
                }
            }
        }
        &__content{
            nav{
                margin-top: 17px;
                margin-left: 9px;
                ul{
                    font-size: 1.6rem;
                    li{
                        display: flex;
                        line-height: 1.5;
                        align-items: center;
                    }
                    li:before{
                        content: "";
                        width: 14px;
                        height: 14px;
                        margin-right: 7px;
                        display: block;
                        background-image: url("../img/banner-cicle.png");
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .c-popular{
        margin-bottom: -10px;
        margin-top: -38px;
        background-image: url("../img/popular-background.png");
        background-repeat: no-repeat;;
        &__title{
            text-align: center;
            margin-top: -5px;
            margin-bottom: 35px;
            h3{
                font-size: 2.7rem;
                font-weight: bold;
                padding-top: 5px;
                color: #fff;
            }
        }
        &__content{
            color: #fff;
            margin-top: 12px;
            margin-left: 7px;
            h3{
                font-size: 1.8rem;
                height: 63px;
            }
        }
        &__info{
            font-size: 1.6rem;
        }
        &__info1{
            font-size: 1.6rem;
            margin-top: 2px;
        }
        &__btn{
            width: 222px;
            margin: auto;
            margin-top: 21px;
        }
    }
    .c-abacus{
        background-image: url("../img/abacus-img.jpg");
        background-repeat: no-repeat;
        .l-container{
            margin-top: -8px;
            h4{
                font-size: 1.6rem;
                line-height: 1.875;
                font-weight: bold;
                padding-left: 357px;
            }
        }
    }
    .c-news{
        display: flow-root;
        margin-top: -50px;
        background-image: url("../img/new-background.png");
        padding-bottom: 22px;
        background-size: cover;
        background-repeat: no-repeat;
        &__title{
            text-align: center;
            margin-top: -5px;
            margin-bottom: 25px;
            h3{
                margin-top: 10px;
                font-size: 2.7rem;
                font-weight: bold;
                line-height: 0.889;
            }
        }
    }
    .c-brand{
        padding-bottom: 0px;
        background-color: #f1f0f0;
        &__image{
            position: relative;
            h4{
                position: absolute;
                width: 100%;
                color: #fff;
                font-size: 24px;
                text-align: center;
                top: 32px;
                left: -3px;
            }
        }
        &__info{
            position: absolute;
            top: 13px;
            h3{
                position: absolute;
                right: 10px;
            }
            p{
                position: absolute;
                left: 32px;
                bottom: -63px;
                font-size: 10px;
                width: 250px;
                display: flex;
                align-items: center;
                span:first-child{
                    color: #fff;
                    line-height: 2.4;
                }
                span:first-child:after{
                    display: block;
                    content: "";
                    margin-right: 50px;
                    padding-right: 10px;
                }
                span:nth-child(2){
                    color: #636db7;
                }
            }
        }
        .c-list__card:first-child{
            margin-left: 3px;
        }
        .c-list__card:last-child{
            margin-right: 3px;
        }
    }
    .c-brand:after{
        content: "";
        display: block;
        background-image: url(../img/line_caro.png);
        background-repeat: repeat-x;
        height: 12px;
        margin-top: 50px;
    }
}

  