<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<!-- <div class="l-container"> -->
			<div class="c-header__top">
				<div class="l-container">
					<div class="c-header__info">
						<h1><a href=""><img src="../../assets/img/header-logo.png" alt=""></a></h1>
						<p><img src="../../assets/img/header-text.png" alt="The Soroban Can Boost Your Brain Power!"></p>
					</div>
					<div class="c-header__groupBtn">
						<div class="c-header__email">
							<div class="btn-item btn-border--gray">
								<div class="btn btn__icon">
									<img class="btn-item--pading" src="../../assets/img/header-icon1.png" alt="">
								</div>
								<p class="btn btn-text btn-align-center"><img class="btn-marginLeftRight" src="../../assets/img/header-icon1-text.png" alt="そろばんニュース"></p>
							</div>
						</div>
						<div class="c-header__send">
							<div class="btn-item btn-border--gray">
								<div class="btn btn__icon">
									<img class="btn-item--pading" src="../../assets/img/header-icon2.png" alt="">
								</div>
								<p class="btn btn-text btn-align-center"><img class="btn-marginLeftRight" src="../../assets/img/header-icon2-text.png" alt="お問い合わせ"></p>
							</div>
						</div>
						<div class="c-header__card">
							<div class="btn-item btn-border--green btn-background--green">
								<div class="btn btn__icon">
									<img class="btn-item--pading" src="../../assets/img/header-icon3.png" alt="">
								</div>
								<p class="btn btn-text btn-align-center btn-margin-right18"><img src="../../assets/img/header-icon3-text.png" alt="カートの中身を見る"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-header__bottom">
				<div class="l-container">
					<nav class="c-menu">
						<ul>
							<li><a href="">オンラインSHOP</a></li>
							<li><a href="">そろばん広場</a></li>
							<li><a href="">これからのそろばん</a></li>
							<li><a href="">検定 / 教室</a></li>
							<li><a href="">会社案内</a></li>
							<li class="btn-marginLeft-19"><a class="btn-menu--last" href="">English</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!--▲ Header ▲-->